<ion-header>
  <ion-toolbar>
    <ion-title>Versión Pro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="pro-content">
    <ion-icon name="trophy-outline" class="pro-main-icon"></ion-icon> <h1>¡Desbloquea el Poder Total de Gasto Móvil!</h1>
    <p>La **Versión Pro** está diseñada para llevar tu control de gastos de combustible al siguiente nivel.</p>

    <ion-list lines="none" class="feature-list">
      <ion-item>
        <ion-icon slot="start" name="analytics" color="primary"></ion-icon>
        <ion-label>Estadísticas Avanzadas de Consumo</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="map-outline" color="primary"></ion-icon>
        <ion-label>Integración con Mapas y Rutas Optimizadas</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="notifications" color="primary"></ion-icon>
        <ion-label>Alertas Personalizadas de Precio de Combustible</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="cloud-done" color="primary"></ion-icon>
        <ion-label>Sincronización en la Nube y Copias de Seguridad</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="person-circle" color="primary"></ion-icon>
        <ion-label>Soporte Prioritario</ion-label>
      </ion-item>
    </ion-list>

    <p class="ion-margin-top">¡Estamos trabajando arduamente para traerte estas y muchas más funcionalidades!</p>

    <ion-button expand="block" color="primary" class="ion-margin-top" (click)="notificarme()">
      <ion-icon slot="start" name="mail"></ion-icon>
      Notifícame cuando esté lista
    </ion-button>

    <p class="ion-text-center ion-margin-top contact-info">
      Mientras tanto, si tienes ideas o sugerencias, ¡contáctanos!
    </p>
  </div>
</ion-content>

